<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @auction.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @auction.description %>
</p>

<p>
  <strong>Endson:</strong>
  <%= @auction.endson %>
</p>

<p>
  <strong>Price:</strong>
  <%= @auction.price %>
</p>

<%= link_to 'Edit', edit_auction_path(@auction) %> |
<%= link_to 'Back', auctions_path %>

<%= form_for [@auction, @bid] do |f| %>
  <%= f.text_area :bid %>
  <%= f.submit %>
<% end %>

  <% @bids.each do |bid| %>
      <p><%= bid.bid %></p>
      <p>By <%= bid.user&.full_name %></p>
      <p><strong>Created At:</strong> <%= time_ago_in_words(bid.created_at) %> ago</p>
      <% if can?(:destroy, bid) %>
        <%= link_to(
          'Delete',
          bid_path(bid),
          data: {confirm: 'Are you sure?'},
          method: :delete
        ) %>
      <% end %>

  <% end %>
